package templates

import (
	"fmt"
	"github.com/yaps-sh/yaps/internal/paste"
)

templ Index() {
	@layout("yaps.sh") {
		@index(PrimaryLanguages, AllLanguages())
	}
}

templ View(entry *paste.Entry, highlighted string) {
	@layout(title(entry)) {
		@view(entry, highlighted)
	}
}

func title(entry *paste.Entry) string {
	if entry.Filename != nil {
		return fmt.Sprintf("yaps.sh - %s", *entry.Filename)
	}

	return fmt.Sprintf("yaps.sh - %s", entry.ID)
}
